<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="app">

      <label v-for="label in options">
        <input type="radio"
               v-model="current"
               v-bind:value="label.value">{{ label.label }}
      </label>
      <br>
      {{ computedTodos.length }} 件を表示中

      <table>
        <!-- テーブルヘッダ -->
        <thead>
          <tr>
            <th class="id">ID</th>
            <th class="comment">コメント</th>
            <th class="state">状態</th>
            <th class="button">-</th>
          </tr>
        </thead>
        <tbody>
          <!-- [1] ここに <tr> で ToDo の要素を1行づつ繰り返し表示したい -->
          <tr v-for="todo in computedTodos" v-bind:key="todo.id">
            <td>{{ todo.id }}</td>
            <td>{{ todo.comment }}</td>
            <td class="state">
              <button v-on:click="changeState(todo)">
                {{ todo.state }}
              </button>
            </td>
            <td class="button">
              <button v-on:click.ctrl="remove(todo)">
                削除
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2>新しい作業の追加</h2>
      <form class="add-form" v-on:submit.prevent="add">
        コメント <input type="text" ref="comment">
        <button type="submit">追加</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>